<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ecc_secp256k1_crypto.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EABC5C7421C389B900113BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EABC5C8C21C389BB00113BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EABC5C9721C389BB00113BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
